.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-panel {
  width: 30%;
}

.right-panel {
  width: 65%;
  border: 1px solid #ccc;
  padding: 20px;
}

.form-inputs{
  display: flex;
  gap: 4px;
}